@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  src: url('../font/Montserrat-Light.ttf') format('truetype'),
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: url('../font/Montserrat-Regular.ttf') format('truetype'),
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('../font/Montserrat-SemiBold.ttf') format('truetype'),
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('../font/Montserrat-Bold.ttf') format('truetype'),
}

@font-face {
  font-family: 'Josefin Sans';
  font-weight: 700;
  src: url('../font/JosefinSans-Bold.ttf') format('truetype'),
}


h2,
.h2 {

  @apply heading leading-tight text-3xl mt-0 mb-5 text-primary;
}

h1,
.h1 {
  @apply heading leading-tight text-4xl mt-0 mb-5 text-primary;
}

@layer components {
  .heading {
    font-family: 'Josefin Sans';
    font-weight: 700;
    text-transform: uppercase;
  }

}


.backdrop {
  @apply backdrop-blur-sm fixed top-0 left-0 z-20 h-screen w-screen bg-gray-900/20;
}

body {
  @apply antialiased;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}
