@tailwind components;

@layer components {
  .heading {
    @apply font-heading font-bold uppercase;
  }
}

h2,
.h2 {
  @apply mb-5 mt-0 font-heading text-3xl leading-tight text-primary;
}

h1,
.h1 {
  @apply mb-5 mt-0 font-heading text-4xl leading-tight text-primary;
}

.backdrop {
  @apply fixed left-0 top-0 z-20 h-screen w-screen bg-gray-900/20 backdrop-blur-sm;
}
.icon {
  font-size: 24px;
}
.form-control {
  .label,
  label {
    &.required {
      .label-text {
        &:after {
          @apply inline pr-1 text-error;
          content: '*';
        }
      }
    }
  }
}
