@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .heading {
    @apply font-heading uppercase font-bold
  }
}
h2,
.h2 {

  @apply font-heading leading-tight text-3xl mt-0 mb-5 text-primary;
}

h1,
.h1 {
  @apply font-heading leading-tight text-4xl mt-0 mb-5 text-primary;
}




.backdrop {
  @apply backdrop-blur-sm fixed top-0 left-0 z-20 h-screen w-screen bg-gray-900/20;
}

body {
  @apply antialiased;
}

.form-control {
  .label {
    &.required {
      .label-text {
        &:after {
          @apply text-error inline pr-1;
          content: "*";

        }
      }
    }
  }
}
